<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//unpkg.com/alpinejs" defer></script>
    <style>
        .red {
            color: red;
        }

        .bold {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div x-data="{
    src: 'https://placehold.co/600x400',
    texto_input: 'Endereço da imagem',
}">
    <img x-bind:src="src" alt="Imagem">
    <input type="text" x-model="src" x-bind:placeholder="texto_input">
    <button x-on:click="src = 'https://placehold.co/100x100'">Alterar imagem</button>
</div>
</body>
</html>
